.container {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(198, 222, 18);
    border: 1px solid;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.home {
    display: flex; /* Dùng flexbox để side-bar và main nằm cùng hàng */
    height: calc(100vh - 100px); /* Chiều cao của màn hình trừ đi header */
}

.side-bar {
    width: 10%;
    height: 100%;
    background-color: rgb(155, 25, 129);
    border: 1px solid rgb(199, 232, 17);
}

.main {
    width: 90%;
    height: 100%;
    
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
}

.main h1 {
    color: bisque;
}
